.app__container {
  width: 100%;
  height: 100%;
}

.page-content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: $large-section-padding;
}

.content__section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $default-section-padding;

  &--center{
    @extend .content__section-container;
    text-align: center;
  }
}
