
@import 'config';

.search-books__container{
  width: 33vw;
  min-width: 400px;
  max-width: 600px;
  margin-bottom: $default-section-margin;

  @media #{$small-and-down} {
    min-width: 300px;
    max-width: 400px;
  }


}
