<div class="search-books__container">
  <mat-form-field appearance="fill">
    <span matPrefix><i class="material-icons">search</i></span>
    <input type="search" #searchInput placeholder="Search for books" aria-label="Search for books" matInput [formControl]="searchFormControl"
      [matAutocomplete]="auto">
    <button *ngIf="searchFormControl.value && !searchInProgress" class="reset-button" aria-label="Clear" matSuffix
      (click)="onResetSearchInput()"><i class="material-icons">close</i></button>
    <mat-progress-spinner *ngIf="searchInProgress" mode="indeterminate" [diameter]="24" matSuffix>
    </mat-progress-spinner>
    <mat-autocomplete #auto="matAutocomplete" class="search-books__result-list" (optionSelected)="onSearchOptionSelected($event)">
      <mat-option *ngFor="let book of searchResultOptions" [value]="book.id">
        {{book.title}}
      </mat-option>
      <mat-option *ngIf="showSearchNoResults" [value]="null">No results found for <em>{{ emittedQuery }}</em></mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
