<div class="search-books__container">
  <mat-form-field appearance="fill">
    <span matPrefix><i class="material-icons">search</i></span>
    <input type="search" #searchInput placeholder="Search for books" aria-label="Search for books" matInput [formControl]="searchFormControl"
      [matAutocomplete]="auto">
    <button *ngIf="searchFormControl.value && !searchInProgress" class="reset-button" aria-label="Clear" matSuffix
      (click)="onResetSearchInput()"><i class="material-icons">close</i></button>
    <mat-progress-spinner *ngIf="searchInProgress" mode="indeterminate" [diameter]="24" matSuffix>
    </mat-progress-spinner>
    <mat-autocomplete #auto="matAutocomplete" class="search-books__result-list" (optionSelected)="onSearchOptionSelected($event)">
      <mat-option *ngFor="let book of searchResultOptions" [value]="book.id">
        {{book.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<p *ngIf="showSearchNoResults && showSearchSelector" class="no-result-text">
  No results found for <em>{{ searchFormControl.value }}</em>.
</p>
<div style="position:fixed; left: 0; top:0; bottom:0; right:0; background: #ccc; opacity: 0; z-index:2"
  *ngIf="showSearchSelector" (click)="onCloseSearch()"></div>
